@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {

  /* COLORS */
  --gh-color-1: black;
  --gh-color-2: white;
  --gh-color-3: #1C1402;
  --gh-color-4: #ff90e8;

  --gh-bgColor: var(--gh-color-1);
  --gh-font-color: var(--gh-color-2);
  --gh-textColor: var(--gh-color-3);
  --gh-scoreColor: var(--gh-color-4);

  /* FONTS */
  --gh-vintage-game: "Press Start 2P", system-ui;
  --gh-games-font: "Chakra Petch", sans-serif;
  --gh-outfit-font: "Outfit", sans-serif;

  /* SPACINGS */
  --gh-margin-xs: 5px;
  --gh-margin-s: 10px;
  --gh-margin-m: 20px;
  --gh-margin-l: 30px;
  --gh-margin-xl: 50px;
  --gh-margin-title: 100px;

  --gh-padding-xs: 5px;
  --gh-padding-s: 10px;
  --gh-padding-m: 20px;
  --gh-padding-l: 30px;
  --gh-padding-xl: 50px;

  --gh-gap-xs: 5px;
  --gh-gap-s: 10px;
  --gh-gap-m: 20px;
  --gh-gap-l: 30px;
  --gh-gap-xl: 50px;

  /* RADIUS */
  --gh-radius-xs: 5px;
  --gh-radius-s: 10px;
  --gh-radius-circle: 100%;

}

body {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}

.gamesDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gh-gap-m);
}

@media (width < 770px) {
  .gamesDiv {
    flex-direction: column;
  }
}
